.share-card {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;

    &__canvas {
        width: 80%;
        border: 1px solid black;
    }

    &__star {
        display: none;
    }
}