@font-face {
    font-family: 'Archivo';
    src: local('Archivo'), url('../assets/fonts/Archivo/Archivo-Regular.ttf') format('opentype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Archivo';
    src: local('Archivo'), url('../assets/fonts/Archivo/Archivo-Italic.ttf') format('opentype');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: 'Archivo';
    src: local('Archivo'), url('../assets/fonts/Archivo/Archivo-Medium.ttf') format('opentype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Archivo';
    src: local('Archivo'), url('../assets/fonts/Archivo/Archivo-MediumItalic.ttf') format('opentype');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'Archivo';
    src: local('Archivo'), url('../assets/fonts/Archivo/Archivo-SemiBold.ttf') format('opentype');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Archivo';
    src: local('Archivo'), url('../assets/fonts/Archivo/Archivo-SemiBoldItalic.ttf') format('opentype');
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: 'Archivo';
    src: local('Archivo'), url('../assets/fonts/Archivo/Archivo-Bold.ttf') format('opentype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Archivo';
    src: local('Archivo'), url('../assets/fonts/Archivo/Archivo-BoldItalic.ttf') format('opentype');
    font-style: italic;
    font-weight: 900;
}
