@import './variables.scss';

.grid {
    display: grid;
    gap: var(--grid-row-gutter) var(--grid-col-gutter);
    grid-template-columns: repeat(var(--grid-col-number), 1fr);
    grid-template-rows: repeat(var(--grid-row-number), 1fr);

    padding: var(--grid-row-margin) var(--grid-col-margin);
    box-sizing: border-box;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(var(--grid-col-number), 1fr);
    grid-column: 1 / span #{$grid-columns + 1};
}

@for $i from 1 to ($grid-columns + 1) {
    .col-#{$i} {
        grid-column: auto / span #{$i};
    }

    .col-center-#{$i} {
        grid-column: #{floor(($grid-columns - $i) / 2) + 1} / span #{$i};
    }
}

@for $i from 1 to ($grid-rows + 1) {
    .row-#{$i} {
        grid-row: auto / span #{$i};
        grid-column: 1 / #{$grid-rows + 1};
    }
}
