.y-center {
    display: flex;
    align-items: center;
}

.x-center {
    display: flex;
    justify-content: center;
}

.undisplay {
    display: none;
}

.debug {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;

    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgb(200, 100, 100);

    padding: 10px;

    overflow-y: auto;

    &__item {
        color: rgb(200, 100, 100);
        font-size: 14px;
    }
}