$grid-columns: 8;
$grid-rows: 8;

:root {
    --color-primary: #F7567C;
    --color-secondary: #5D576B;
    --color-thirdly: #7EA8BE;
    --color-bg: #EAE0D5;
    --color-star: #EDB88B;

    --color-shadow: rgba(93, 87, 107, 0.3);

    --text-size: 1.8rem;

    --grid-col-number: #{$grid-columns};
    --grid-col-gutter: 1rem;
    --grid-col-margin: 2rem;

    --grid-row-number: #{$grid-rows};
    --grid-row-gutter: 2rem;
    --grid-row-margin: 5rem;

    --toolbar-height: 3rem;
    --toolbar-margin: 2rem;

    --font-primary: 'Archivo';
    --font-color-primary: var(--color-secondary);
}

