.layout {
    height: 100vh;
    background-color: var(--color-bg);

    position: relative;

    &__header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 var(--grid-col-margin);
        margin-top: 2rem;
    }
}