.logo {
    font: 900 6rem 'Archivo', sans-serif;
    color: var(--font-color-primary);
    letter-spacing: 0.3rem;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__button {
        margin-bottom: 3rem;
    }
}
