.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__performance {
        font: 900 1.8rem var(--font-primary);
        color: var(--color-secondary);
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}