html, body {
  font-size: 10px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  background-color: var(--color-bg);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@import './styles/fonts.scss';
@import './styles/variables.scss';
@import './styles//grid.scss';
@import './styles/utils.scss';
